/*Banner*/
.banner{background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; height: 400px;}
.filtro-banner{position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0.67; z-index: 1; height: 400px; background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%);}
.seccion-banner p{
  color: white;
  font-family: "Neue Haas Bold";
  position: absolute;
  z-index: 5;
  font-size: 70px;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  top: 130px;
}

/*------------Destinos---------*/

#seccion-opciones-destinos {margin-top: 50px; margin-bottom: 50px;     margin-left: 3em;
  margin-right: 3em;}

.filtrodestino{position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0.67; z-index: 1; height: 450px; background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%);}
.destino{height: 450px; position: relative; overflow:hidden;}
.destino img {
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
  width: 140%;
  height: 110%;
  }

  .destino:hover img {
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
  }

#seccion-opciones-destinos p{    color: white;
  font-family: "Neue Haas Bold";
  text-align: center;
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;}
