/*Banner*/
.banner{background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; height: 400px;}
.filtro-banner{position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0.67; z-index: 1; height: 400px; background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%);}
.seccion-banner p{
  color: white;
  font-family: "Neue Haas Bold";
  position: absolute;
  z-index: 5;
  font-size: 70px;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  top: 130px;
}


/*--- Destino ---*/

.swiper-slide{
    transition: ease all .5s !important;
}

.swiper-slide:hover{
    width: 40% !important;
}

.slide-seccion-destino{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: brightness(0.7);
    transition: ease all .5s !important;
}

.slide-seccion-destino:hover{
    filter: brightness(1.1)!important;
}

.titulo-seccion{
    color: white; font-family: "Neue Haas"; text-align: left; font-size: 30px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    margin: auto;
}

.swiper-container{
    height: 600px;
}

#title-destino h1{
    color: white; font-family: "Neue Haas"; text-align: center; font-size: 80px;
    position: absolute;
    left: 0;
    right: 0;
    top: 170px;
    margin: auto;
    z-index: 3;
    font-weight: inherit;
}

#title-destino p{
    color: white; font-family: "Neue Haas"; text-align: center; font-size: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 260px;
    margin: auto;
    z-index: 3;
}

/*------------Destinos---------*/

#seccion-opciones-destinos {margin-left: 0px}
#seccion-opciones-destinos .destino{display:-webkit-inline-box;height: 450px; background-size: cover; background-position: center; background-repeat: no-repeat; width: 20%; margin: 78px 4%;}
#seccion-opciones-destinos .destino p{color: white; font-family: "Neue Haas Bold"; text-align: center; font-size: 30px; margin: 350px 30%;}