/*--- Destino ---*/

body{
    background-color: #ffffff !important;
}

.swiper-slide{
    transition: ease all .5s !important;
}

.swiper-container{
    height: 100vh;
}

.slide-seccion-destino{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: brightness(0.7);
    transition: ease all .5s !important;
}

.slide-seccion-destino:hover{
    filter: brightness(1.1)!important;
}

@media screen and (min-width: 1000px) {
    .swiper-slide:hover{
        width: 40% !important;
    }
}

@media screen and (max-width: 1000px) {
    .swiper-slide:hover{
        width: inherit;
    }
}



.titulo-seccion{
    color: white; font-family: "Neue Haas"; text-align: center; font-size: 30px;
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0;
    margin: 0 auto;
}

#title-destino h1{
    color: white; font-family: "Neue Haas"; text-align: center; font-size: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 240px;;
    margin: auto;
    z-index: 3;
    font-weight: inherit;
}

#title-destino p{
    color: white; font-family: "Neue Haas"; text-align: center; font-size: 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 345px;
    margin: auto;
    z-index: 3;
}


#menu-destino{
    width: auto;
    height: auto;
}

#menu-destino a{
    color: #000000; font-family: "Neue Haas"; text-align: center; font-size: 18px;
}

#info-destino{
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
}

#info-destino p{
    color: #000000; font-family: "Neue Haas"; text-align: center; font-size: 23px; margin-top: 100px;
}

@media screen and (max-width: 576px) {
    #img-info-izq{
        display: none;
    }
    #img-info-der{
        display: none;
    }
}
#img-info-izq{
    width: 100%;
    margin-left: -15px;
}

#img-info-der{
    width: 100%;
    margin: 100px 0px 0px 15px;
}

.parallax-destino{background-repeat: no-repeat; background-position: center;
    background-size: cover; background-attachment: fixed; width: 100%; height: 500px; position: relative;}

.filtro-destino{position: absolute; margin-top: 0px; bottom: 0; left: 0; right: 0; opacity: 0.67; z-index: 9; height: 500px;background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%);}
  
#seccion-eventos{ padding-bottom: 20px; width: 94%; padding-right: 15px; padding-left: 15px; margin: 0 3%;}
#seccion-eventos h2{ text-align: center; font-size: 30px; border-bottom: 2px solid #610011; width: 150px; line-height: 2em; margin: 0 auto 30px auto; font-family: "Neue Haas Bold"; padding-top: 30px;}
.evento{height: 320px; background-size: cover; background-position: center; background-repeat: no-repeat;}
#seccion-eventos p{color: white; font-family: "Neue Haas Bold"; text-align: left; padding-left: 20px; font-size: 24px;padding-top: 270px }
#seccion-eventos .row > div{padding: 2px;}

.evento:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: "Font Awesome 5 Free";
    content:"\f06e";
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.evento:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.evento:hover:after,
.evento:hover:before {
    opacity: 1;
}

.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 4em;
    margin-bottom: 30px;
}

.gallery-container h2{ text-align: center; font-size: 30px; border-bottom: 2px solid #610011; width: 250px; line-height: 2em; margin: 0 auto 30px auto; font-family: "Neue Haas Bold"; padding-top: 30px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.imagen-galeria{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 225px;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: "Font Awesome 5 Free";
    content:"\f06e";
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

#seccion-tours h2{ text-align: center; font-size: 30px; border-bottom: 2px solid #610011; width: 120px; line-height: 2em; margin: 0 auto 30px auto; font-family: "Neue Haas Bold"; padding-top: 30px;}
#seccion-tours{
    width: auto;
    height: auto;
    position: relative;
    margin: 50px 3em;
}
.card-deck{
    margin-top: 10px;
}
.card-img-top{
    height: 210px;
}
.card-title{
    font-family: "Neue Haas Bold";
}

.card-text{
    text-align: justify;
    font-family: "Neue Haas";
}

#seccion-adondeir{
    width: auto;
    height: auto;
    position: relative;
    margin: 50px 3em;
    background-color: #ffffff
}

#seccion-adondeir h2{ text-align: center; font-size: 30px; border-bottom: 2px solid #610011; width: 210px; line-height: 2em; margin: 0 auto 30px auto; font-family: "Neue Haas Bold";}
#img-adondeir{
    width: 100%
}

#seccion-adondeir ul{
    list-style: none;
}

#seccion-adondeir li{
    display: flex;
    margin: 30px 50px;
}

.opcion-imagen{
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.opcion-info{
    margin-left: 20px;
}
.opcion-nombre{
    text-align: left; font-size: 18px; font-family: "Neue Haas Bold"; color: #000000;
}
.opcion-ubicacion{
    text-align: left; font-size: 18px; font-family: "Neue Haas"; color: #000000;
}

@media screen and (max-width: 1260px){
    #seccion-adondeir li{
        margin: 30px 30px;
    }
}

@media screen and (max-width: 1139px){
    #seccion-adondeir li{
        margin: 30px 0px;
    }
}



@media screen and (max-width: 991px){
    #img-adondeir{
        display: none;
    }

    #seccion-adondeir li{
        margin: 30px 50px;
    }
}