#contenedor-principal{
    text-align: center;
}
#contenedor-principal2{
  text-align: center;
}
.titulo{
    font-size: 38px;
    font-weight: bold;
}

.descripcion{
    text-align: center;
    font-size: 18px;
    text-align: justify;
}
.ubicacion{
    color: green;
}

