/*Banner*/
.banner{background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; height: 400px;}
.filtro-banner{position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0.67; z-index: 1; height: 400px; background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%);}
.seccion-banner p{
  color: white;
  font-family: "Neue Haas Bold";
  position: absolute;
  z-index: 5;
  font-size: 70px;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  top: 130px;
}



/*Info Binkab*/
#seccion-info{position: relative;}
#seccion-info .info-binkab{width: 50%; margin-left: 25%; margin-top: 90px; margin-bottom: 90px;}
#seccion-info .info-binkab p{font-family: 'Neue Haas'; text-align: center; color: #8c8d91; font-size: 24px;}
.parallax-nosotros{background-repeat: no-repeat; background-position: center;
  background-size: cover; background-attachment: fixed; width: 100%; height: 500px; margin-top: 50px; }
.filtro-nosotros{position: absolute; margin-top: 50px; bottom: 0; left: 0; right: 0; opacity: 0.67; z-index: 9; height: 500px;background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%);}

/*App*/
#app-binkab{display: flex; margin-left: 10%;margin-top: 90px;margin-bottom: 90px;}
#app-binkab div img{width: 120%;}
.binkab-txt{width: 30%; margin-left: 10%}
.binkab-txt h2{font-family: 'Neue Haas'; font-size: 32px; color: #65666a;}
.binkab-txt p{font-family: 'Neue Haas'; font-size: 21px; color: #8c8d91;}
.binkab-txt a{font-family: 'Neue Haas'; font-size: 21px; color: #8c8d91;}

/*Screen de home*/
#seccion-screen{display: flex; margin-left: 35%;margin-bottom: 90px; margin-top: 80px;}
#seccion-screen div img{width: 100%;}
.screen-div{width: 40%;}
.screen-txt{width: 40%; margin-right: 10%}
.screen-txt h2{font-family: 'Neue Haas'; font-size: 32px; color: #65666a;}
.screen-txt p{font-family: 'Neue Haas'; font-size: 21px; color: #8c8d91;}
.screen-txt p a{font-family: 'Neue Haas'; font-size: 21px; color: #8c8d91;}

/*Footer*/

footer{
  width: 100%;
  height: auto;
  position: relative;
  -webkit-box-shadow: inset 0px 28px 49px -32px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px 28px 49px -32px rgba(0,0,0,0.46);
  box-shadow: inset 0px 28px 49px -32px rgba(0,0,0,0.46);
}

#logo-footer{
  width: 200px;
  margin: 2em 2em;
}


/* ----------- dispositivos móviles ----------- */
/* cambios css para modo vertical y horizontal */
@media only screen
  and (min-width: 320px) 
  and (max-width: 736px)
{
    /*Info Binkab*/
    #seccion-info .info-binkab p{font-size: 16px;}
    
    /*App*/
    #app-binkab {margin-left: 10%;margin-top: 90px;margin-bottom: 90px; display: block;}
    #app-binkab div img {width: 89%;}
    .binkab-txt {width: 75%;margin-left: 5%;}
    .binkab-txt h2 {font-size: 25px;}
    
    /*Screen de home*/
    #seccion-screen {display: block; margin-left: 15%;}
    .screen-txt {width: 76%;}
    .screen-txt h2 {font-size: 25px;}
    #seccion-screen div img {width: 90%;margin-left: -4%;}
    .screen-div {width: inherit;}
}
