.swiper-container-home{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    
}

.swiper-pagination-bullet {
    width: 90px;
    height: 3px;
    border-radius: 0px;
    background: #ffffff;
    opacity: 0.4;
}

@media screen and (max-width: 1020px) {
  .titulo-slide{
    font-size: 2em !important;
  }
  
  .vinculo-slide{
    font-size: 1.5em !important;
  }
}

@media screen and (max-width: 690px) {
  .titulo-slide{
    font-size: 1.5em !important;
  }
  
  .vinculo-slide{
    font-size: 1em !important;
  }
}

@media screen and (max-width: 440px) {
    .swiper-pagination-bullet {
        width: 60px;
    }
    .titulo-slide{
      margin-left: 20px !important;
      width: 80% !important;
    }
    
    .vinculo-slide{
      margin-left: 20px !important;
    }
}

.swiper-pagination-bullet-active {
    background: #ffffff;
    opacity: 0.8;

}

.slides-home{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.titulo-slide{
  margin-left: 50px;
  margin-top: 0px;
  width: 60%;
  padding-top: 250px;
  font-family: "Neue Haas Bold";
  color: #ffffff;
  font-size: 3em;
  position: relative;
  z-index: 2;
}

.vinculo-slide{
  margin-left: 50px;
  width: auto;
  margin-top: 50px;
  font-family: "Neue Haas Bold";
  color: #ffffff;
  font-size: 2em;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px;
  }

.filtro{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.67;
    z-index: 1;
    background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%);
}

/* Seccion Iconos */

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover img, .hvr-bob:focus img, .hvr-bob:active img{
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.seccion-iconos{display:-webkit-inline-box; margin-top: 50px; margin-bottom: 20px;}
.iconos-menu{width: 100px;margin-left: 200px;}
.seccion-iconos h2{ margin-top: 20px; text-align: center; margin-left: 150px; font-family: "Neue Haas Bold"; font-size: 22px;}
.seccion-iconos p{width: 200px; text-align: center;color: #a5a2a2; font-size: 19px; margin-left: 140px; font-family: "Neue Haas"; margin-top: -5px;}

/* Seccion Lugares*/
.seccion-lugares{background-color: #f8f8f8;}
.seccion-lugares h2{text-align: center; font-size: 30px; font-family: "Neue Haas Bold"; }
.swiper-container-lugares{margin: 0 auto; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1; margin: 0 8%;}
.swiper-seccion-lugares{height: 500px; margin: 0 20px;}
.seccion-lugares .swiper-slide p{color: white; font-family: "Neue Haas Bold"; margin-left: 20px; padding-top: 464px;}
.parallax-lugares{background-image: url("../img/home/parallax.jpg"); background-repeat: no-repeat; background-position: center;
  background-size: cover; background-attachment: fixed; width: 100%; height: 500px; margin-top: 50px; filter:brightness(0.6);; background-color: rgba(0,0,0,0.8);}

/* Seccion eventos */
#seccion-eventos{background: #f8f8f8; padding-bottom: 50px;}
#seccion-eventos h2{text-align: center; font-size: 30px; font-family: "Neue Haas Bold"; padding-top: 50px; margin: 0;}
#seccion-eventos .eventos{ display:-webkit-inline-box;}
.evento{width: 55%; height: 320px; margin: 5% 8%; background-size: 600px; background-position-x: center; background-repeat: no-repeat;}
#seccion-eventos .evento p{color: white; font-family: "Neue Haas Bold"; text-align: left; margin-left: 20px; font-size: 24px;margin-top: 80% }

/*Nosotros*/
.banner{background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; height: 400px;}
.filtro-banner{position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.67;
    z-index: 1;
    height: 500px;
    background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%); height: 400px}
/*Footer*/

footer{
  width: 100%;
  height: auto;
  position: relative;
  -webkit-box-shadow: inset 0px 28px 49px -32px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px 28px 49px -32px rgba(0,0,0,0.46);
  box-shadow: inset 0px 28px 49px -32px rgba(0,0,0,0.46);
}

#logo-footer{
  width: 200px;
  margin: 2em 2em;
}

#menu-footer{
  display: inline;
  margin: 2.6em 3em;
  position: absolute;
  border-left: 1px solid dimgrey;
  border-right: 1px solid dimgrey;
}

#menu-footer ul{
  list-style: none;
  margin: 30px auto;
  display: inline-flex;
}

.link-footer{
  font-family: "Neue Haas Bold";
  text-decoration: none;
  color: #000000;
  font-size: 1.3em;
  padding: 0 2em;
  transition: ease all .4s;
}

.link-footer:hover{
  color: #610011;
}

#copy{
  width: 100%;
  height: auto;
  position: relative;
  background-color: #610011;
}

#copy p{
  text-align: center;
    font-family: "Neue Haas";
    font-size: 1em;
    color: #ffffff;
    margin: 0;
    padding: 10px 0px;
}

#spancopy{
  font-family: "Delimax" !important;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}



