@font-face {
    font-family: "Neue Haas";
    src: url("../fonts/NHaasGroteskTXPro-55Rg.ttf");
  }

@font-face {
    font-family: "Neue Haas Bold";
    src: url("../fonts/NHaasGroteskTXPro-75Bd.ttf");
  }

.swiper-container-home{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    
}

.swiper-pagination-bullet {
    width: 90px;
    height: 3px;
    border-radius: 0px;
    background: #ffffff;
    opacity: 0.4;
}

@media screen and (max-width: 440px) {
    .swiper-pagination-bullet {
        width: 60px;
    }
}

.swiper-pagination-bullet-active {
    background: #ffffff;
    opacity: 0.8;

}

.slides-home{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px;
  }

.filtro{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.67;
    z-index: 1;
    background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%);
}

/* Seccion Iconos */

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover img, .hvr-bob:focus img, .hvr-bob:active img{
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.seccion-iconos{display:-webkit-inline-box; margin-top: 50px; margin-bottom: 20px;}
.iconos-menu{width: 100px;margin-left: 200px;}
.seccion-iconos h2{ margin-top: 20px; text-align: center; margin-left: 150px; font-family: "Neue Haas Bold"; font-size: 22px;}
.seccion-iconos p{width: 200px; text-align: center;color: #a5a2a2; font-size: 19px; margin-left: 140px; font-family: "Neue Haas"; margin-top: -5px;}

/* Seccion Lugares*/
.seccion-lugares{background-color: #f8f8f8;}
.seccion-lugares h2{text-align: center; font-size: 30px; font-family: "Neue Haas Bold"; }
.swiper-container-lugares{margin: 0 auto; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1; margin: 0 8%;}
.swiper-seccion-lugares{height: 500px; margin: 0 20px;}
.seccion-lugares .swiper-slide p{color: white; font-family: "Neue Haas Bold"; margin-left: 20px; padding-top: 464px;}